body,h1,h2,h3,h4,h5,h6 {font-family: "Lato", sans-serif;}
body, html {
  height: 100%;
  color: #777;
  line-height: 1.8;
  background-color: #fff2f9!important;
}
.foot{
  background-color: #ff59b5!important;
}

a{
  text-decoration: none;
}

/* Create a Parallax Effect */


/* First image (Logo. Full height) */
.arr{
    z-index: 99999999;
}
.invite-h{
  font-family: 'Tangerine', cursive;
  font-size: 150px;
  font-weight: bolder;
}
.invite-t{
  font-family: 'Tangerine', cursive;

}


.w3-hover-opacity {cursor: pointer;}

/* Turn off parallax scrolling for tablets and phones */
@media only screen and (max-device-width: 1600px) {
  .bgimg-1, .bgimg-2, .bgimg-3 {
    background-attachment: scroll;
    min-height: 300px;
  }
}

div.polaroid {
  width: 80%;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-bottom: 25px;
}